<section class="col-md-12">
    <div class="header">
        <h1>Details Table</h1>
    </div>

    <table class="table">
            
    <thead class="thead-light t-head">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title Id</th>
            <th scope="col">Sort Number</th>
            <th scope="col">Jobs Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let detail of details; let i = index" (click)="selectedDetail(i, detail)" [ngClass]="rowIndex == i ? 'active' : ''">
            <th>{{detail.id}}</th>
            <th>{{detail.t_id}}</th>
            <td>{{detail.sortNu}}</td>
            <td>{{detail.name}}</td>
            <td>{{detail.description}}</td>
            <td>
                <button *ngIf="rowIndex == i" class="btn-xs icon" (click)="openAddDetail(content)"><i class="fa fa-plus"></i></button>
                <!--
                <a [routerLink]="['/product-detail-view', product.id]"> 
                    <a>
                    <button 
                    type="button" 
                    [disabled]="rowIndex != i" 
                    class="btn-xs icon"
                >
                    <i class="fa fa-eye icon"></i>
                </button>
                </a>-->
                <button 
                    type="button" 
                    [disabled]="rowIndex != i" 
                    class="btn-xs icon"
                    (click) ="openUpdtWndw(update)"
                >
                <i class="fa fa-pencil-square-o icon"></i></button>
                <button 
                    type="button" 
                    [disabled]="rowIndex != i" 
                    class="btn-xs icon"
                    (click) = "openDtlDltWndw(deleteDtl,detail.id)"
                >
                <i class="fa fa-trash"></i></button> 
            </td>
        </tr>
        
    </tbody>
</table>

<section class="col-md-12">
    <div class="header">
        <h1>Roads Table</h1>

    </div>
    <table class="table">
        <thead class="thead-light t-head">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Road Id</th>
                <th scope="col">Title Id</th>
                <th scope="col">Sort Number</th>
                <th scope="col">Roads</th>
                <th scope="col">Path</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let road of roads; let i = index" (click)="selectedRoads(i, road)" [ngClass]="rowIndex == i ? 'active' : ''">
                <th>{{road.id}}</th>
                <th>{{road.road_id}}</th>
                <th>{{road.t_id}}</th>
                <td>{{road.sortNu}}</td>
                <td>{{road.road}}</td>
                <td>{{road.path}}</td>
                <td><!--
                    <a [routerLink]="['/product-detail-view', product.id]"> 
                        <a>
                        <button 
                        type="button" 
                        [disabled]="rowIndex != i" 
                        class="btn-xs icon"
                    >
                        <i class="fa fa-eye icon"></i>
                    </button>
                    </a>-->
                    <button 
                        type="button" 
                        [disabled]="rowIndexroad != i" 
                        class="btn-xs icon"
                        (click) = "openRdUpWndo(updateRd)"
                    >
                    <i class="fa fa-pencil-square-o icon"></i></button>
                    <button 
                        type="button" 
                        [disabled]="rowIndexroad != i" 
                        class="btn-xs icon"
                        (click) = "openDltWndw(delete, road.id)"
                    >
                    <i class="fa fa-trash"></i></button> 
                </td>
            </tr>
            
        </tbody>
    </table>
</section>
</section>

<!--New road adding window-->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Road for {{selected_detail.name}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="roadForm" (ngSubmit)="onSubmit()" class="row g-3">
            <div class="form-group">
                <label class="form-label">Sort Number</label>
                <input type="number" class="form-control" formControlName="sortNu">
                <div *ngIf="f['sortNu'].touched && f['sortNu'].invalid && f['sortNu'].errors && f['sortNu'].errors['required']"
                class="error">
                Sort Number is required.</div>
            </div>
            <div class="form-group">
                <label class="form-label">New road title</label>
                <input type="text" class="form-control" formControlName="road">
                <div *ngIf="f['road'].touched && f['road'].invalid && f['road'].errors && f['road'].errors['required']"
                class="error">
                Job road is required.</div>
            </div>
            <div class="form-group">
                <label class="form-label">New path</label>
                <!--<input type="text" class="form-control" formControlName="path"> -->
                <textarea class="form-control" formControlName="path" rows="10"></textarea>
                <div *ngIf="f['path'].touched && f['path'].invalid && f['path'].errors && f['path'].errors['required']"
                class="error">
                job path is required.</div>
            </div>
            
        
            <div class="col-12 text-end mt-5">
                <p>status: {{roadForm.status}}</p>
                <button type="button" class="btn btn btn-outline-secondary me-2">cancel</button>
                <button type="submit" class="btn btn-outline-primary" [disabled]="!roadForm.valid">Submit<i
                    *ngIf="isDataUploading" class="fa fa-spinner fa-pulse fa-fw"></i></button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
    </div>
  </ng-template>

  <!--Update description data Window-->
  <ng-template #update let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update Description {{selected_detail.name}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="descriptionForm" (ngSubmit)="onUpdate()" class="row g-3">
            <div class="form-group">
                <label class="form-label">Sort Number</label>
                <input type="number" class="form-control" formControlName="sortNu" [(ngModel)]="selected_detail.sortNu">
                <div *ngIf="ff['sortNu'].touched && ff['sortNu'].invalid && ff['sortNu'].errors && ff['sortNu'].errors['required']"
                class="error">
                Sort Number is required.</div>
            </div>
            <div class="form-group">
                <label class="form-label">Job Name English</label>
                <input type="text" class="form-control" formControlName="name" [(ngModel)]="selected_detail.name">
                <div *ngIf="ff['name'].touched && ff['name'].invalid && ff['name'].errors && ff['name'].errors['required']"
                class="error">
                Filed Name is required.</div>
            </div>
            <div class="form-group">
                <label class="form-label">Job Description</label>
                <!--<input type="text" class="form-control" formControlName="description" [(ngModel)]="selected_detail.description">-->
                <textarea class="form-control" formControlName="description" rows="10" [(ngModel)]="selected_detail.description"></textarea>
                <div *ngIf="ff['description'].touched && ff['description'].invalid && ff['description'].errors && ff['description'].errors['required']"
                class="error">
                Description is required.</div>
            </div>
            
        
            <div class="col-12 text-end mt-5">
                <p>status: {{descriptionForm.status}}</p>
                <button type="button" class="btn btn btn-outline-secondary me-2">cancel</button>
                <button type="submit" class="btn btn-outline-primary" [disabled]="!descriptionForm.valid">Submit<i
                    *ngIf="isDataUploading" class="fa fa-spinner fa-pulse fa-fw"></i></button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
    </div>
  </ng-template>

   <!--Update road data Window-->
   <ng-template #updateRd let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update Job Road {{selected_road.road}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="u_roadForm" (ngSubmit)="onRdUpdate()" class="row g-3">
            <div class="form-group">
                <label class="form-label">Sort Number</label>
                <input type="number" class="form-control" formControlName="sortNu" [(ngModel)]="selected_road.sortNu">
                <div *ngIf="f['sortNu'].touched && f['sortNu'].invalid && f['sortNu'].errors && f['sortNu'].errors['required']"
                class="error">
                Sort Number is required.</div>
            </div>
            <div class="form-group">
                <label class="form-label">New road title</label>
                <input type="text" class="form-control" formControlName="road" [(ngModel)]="selected_road.road">
                <div *ngIf="fff['road'].touched && fff['road'].invalid && fff['road'].errors && fff['road'].errors['required']"
                class="error">
                Job road is required.</div>
            </div>
            <div class="form-group">
                <label class="form-label">New path</label>
                <!--<input type="text" class="form-control" formControlName="path" [(ngModel)]="selected_road.path"> -->
                <textarea class="form-control" formControlName="path" rows="10" [(ngModel)]="selected_road.path"></textarea>
                <div *ngIf="fff['path'].touched && fff['path'].invalid && fff['path'].errors && fff['path'].errors['required']"
                class="error">
                job path is required.</div>
            </div>
            
        
            <div class="col-12 text-end mt-5">
                <p>status: {{u_roadForm.status}}</p>
                <button type="button" class="btn btn btn-outline-secondary me-2">cancel</button>
                <button type="submit" class="btn btn-outline-primary" [disabled]="!u_roadForm.valid">Submit<i
                    *ngIf="isDataUploading" class="fa fa-spinner fa-pulse fa-fw"></i></button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
    </div>
  </ng-template>

   <!--Delete Job road confirm-->
<ng-template #delete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-delete">Delete Job road for {{selected_road.road}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>This will permanently remove the data from database. Continue?</p>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
    </div>
  </ng-template>
  <!--Delete Job description confirm-->
<ng-template #deleteDtl let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-delete">Delete Job description for {{selected_detail.name}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>This will permanently remove the data from database. Continue?</p>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
    </div>
  </ng-template>
