<button class="btn bg-primary" (click)="fieldShow()">Fields table</button>
<button class="btn bg-primary" (click)="titleShow()">Titles table</button>
<button class="btn bg-primary" (click)="detailShow()">Details table</button>

<!--Job Fields table view, Add new Job fields, And new Job title for a field-->
<app-tables *ngIf="field_visible"></app-tables>
<!--Job Titles table view, Add new Job description for a job title-->
<app-form-d *ngIf="title_visible"></app-form-d>
<!--Job description and road view, Add new road for a job title-->
<app-detail-tbl *ngIf="detail_visible"></app-detail-tbl>